<div class="my-3">
    <h5>MAP</h5>
    <br>
  <div class="row">
      <div class="col-md-4">
          <div>
              <strong>EX - 01</strong>
              <hr>
          </div>
          <div class="bg-light py-2 px-2 rounded">
            Map Data coming after 1 sec interval
            <br>
            data=> 'video '+ data
          </div>
          <div class="text-success">
            <strong>
                {{obs1}}
            </strong>
        </div>
      </div>
      
      <div class="col-md-4">
        <div>
            <strong>EX - 02</strong>
            <hr>
        </div>
        <div class="bg-light py-2 px-2 rounded">
          Map Data coming after 1 sec interval
          <br>
            data => data + 10
        </div>
        <div class="text-success">
          <strong>
              {{obs2}}
          </strong>
      </div>
    </div>

    <div class="col-md-4">
        <div>
            <strong>EX - 03</strong>
            <hr>
        </div>
        <div class="bg-light py-2 px-2 rounded">
          Map Data coming after 1 sec interval
          <br>
          data is in form of object stream
        </div>
        <div class="text-success">
          <hr>
          <ul id="addLiElement"></ul>
      </div>
    </div>
  </div>

 
</div>
