<div class="row">

  <div class="col-md-4 mt-4">
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div>From Event</div>
          <a routerLink="fromevent">Check it out</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 mt-4">
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div>Interval & Timer</div>
          <a routerLink="interval">Check it out</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 mt-4">
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div>Of & From</div>
          <a routerLink="offrom">Check it out</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 mt-4">
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div>ToArray</div>
          <a routerLink="toarray">Check it out</a>
        </div>
      </div>
    </div>
  </div>
  <!--Map-->
  <div class="col-md-4 mt-4">
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div>Map</div>
          <a routerLink="map">Check it out</a>
        </div>
      </div>
    </div>
  </div>
  <!--Filter-->
  <div class="col-md-4 mt-4">
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div>Filter</div>
          <a routerLink="filter">Check it out</a>
        </div>
      </div>
    </div>
  </div>
  <!--subject-->
  <div class="col-md-4 mt-4">
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div>subject</div>
          <a routerLink="subject">Check it out</a>
        </div>
      </div>
    </div>
  </div>

   <!--Async - subject-->
   <div class="col-md-4 mt-4">
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div>Async Subject</div>
          <a routerLink="asyncsubject">Check it out</a>
        </div>
      </div>
    </div>
  </div>
</div>