<div class="my-3">
    <h5>Of And From</h5>
    <br>

    <strong>Ex -01 (OF)</strong>
    <!--Converts the arguments to an observable sequence-->
    <div class="row">
        <div class="col-md-6">
            <div class="bg-light border rounded py-2 px-2">
                <strong>Data of : </strong> ('anupam','sam','ram')
            </div>

            <ul id="elContainer">

            </ul>
            <hr>
        </div>
        <!--OF operator with json object-->
        <div class="col-md-6">
            <div class="bg-light border rounded py-2 px-2">
                <strong>(OF operator with object)Data of : </strong> &#123;a:'anupam',b:'sam',c:'ram'&#125;
            </div>

            <ul id="elContainer2">
                <li>{{obsmsg.a}}</li>
                <li>{{obsmsg.b}}</li>
                <li>{{obsmsg.c}}</li>
            </ul>
            <hr>
        </div>

        <strong>Ex -02 (FROM)</strong>
        <!--Creates an Observable from an Array, an array-like object, a Promise, an iterable object, or an Observable-like objec-->
        <div class="row">
            <div class="col-md-6">
                <strong class="pb-1">Array into observable using from operator</strong>
                <div class="bg-light border rounded py-2 px-2">
                    <strong>Data : </strong> from:(['anupam','sam','ram'])
                </div>
                <ul id="elContainer3"></ul>
            </div>

            <div class="col-md-6">
                <strong class="pb-1">string into observable using from operator</strong>
                <div class="bg-light border rounded py-2 px-2">
                    <strong>Data : </strong> from:"hello"
                </div>
                <ul id="elContainer4"></ul>
            </div>
        </div>
    </div>