<div class="my-3">
    <h5>Interval And Timer</h5>
    <br>
    <div class="row">
    <div class="col-md-4 mt-4">
        <div class="card">
            <h5 class="card-header">List</h5>
            <div class="card-body">
                <div class="card-text">
                    <ul id="elContainer">
                    </ul>
                </div>

            </div>
        </div>
    </div>


    <div class="col-md-4 mt-4">
        <div class="card">
            <h5 class="card-header">List</h5>
            <div class="card-body">
                <div class="card-text">
                    <ul id="elContainer2">
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-4 mt-4">
        <div class="card">
            <h5 class="card-header">List</h5>
            <div class="card-body">
                <div class="card-text">
                    <ul id="elContainer3">
                    </ul>
                </div>

            </div>
        </div>
    </div>
    </div>
</div>