<div class="my-3">
    <h5>Merge Map Operator</h5>
    <br>
    <br>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div>
                <strong>EX :01 Map</strong>
                <hr>
            </div>
            <div class=" border bg-light py-2 px-2 rounded">
             Video ['Tech','Comedy','News']
            </div>
            <hr>
            <ul id='element1'>
               
            </ul>
           
        </div>

        <div class="col-md-4">
            <div>
                <strong>EX :02 Map + Merge</strong>
                <hr>
            </div>
            <div class="border bg-light py-2 px-2 rounded">
                Video ['Tech','Comedy','News']
            </div>
            <hr>
            <ul id='element2'>
                
            </ul>
           
        </div>

        <div class="col-md-4">
            <div>
                <strong>EX :03 MergeMap</strong>
                <hr>
            </div>
            <div class=" border bg-light py-2 px-2 rounded">
                Video ['Tech','Comedy','News']
            </div>
            <hr>
            <ul id='element3'>
                
            </ul>
        </div>
    </div>
</div>