<div class="my-3">

    <h2 class="h2">Observable</h2>
    <br>
    <!--for subject example-->
    <div *ngIf="exclusive">
        <strong class="px-3 text-success border rounded">
            Exculsive
        </strong>
    </div>
    <router-outlet></router-outlet>

</div>
<!--
    Observable Stream
     -User Input(Button Click Event)
     -Http Request(most of the time)
     -Array
     -object



     Observable Handle(subscribe)
     -Data
     -Error
     -completion

     syntax

     .subscribe(
         (data)=>console.log(data),
         (error)=>console.log(error),
         ()=>console.log('complete')
     )
-->