<div class="my-3">
    <h5>Concat Operator</h5>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div>
                <strong>Source :01 Tech Channel(5)</strong>
                <hr>
            </div>
            <div class="bg-light py-2 px-2 rounded">
                Tech Video List : 1,2,3,4,5
            </div>
            
        </div>

        <div class="col-md-4">
            <div>
                <strong>Source :02 comedy Channel(3)</strong>
                <hr>
            </div>
            <div class="bg-light py-2 px-2 rounded">
                comedy Video List : 1,2,3
            </div>
           
        </div>

        <div class="col-md-4">
            <div>
                <strong>Source :03 News Channel(4)</strong>
                <hr>
            </div>
            <div class="bg-light py-2 px-2 rounded">
                News Video List 1,2,3,4
                <div class="text-success">

                    <ul id="addLiElement"></ul>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <hr>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Your Channel (Subscriber)</div>
                <div class="card-body">
                    <ul id='elc'>
                        

                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>